@model MVCtry.Models.ProductModel
@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>
<div>
    <form action="@Url.Action("Buy","Home")" method="post">
        <div class="form-group">
            <label for="itemtype">Item Type:</label>
            <input type="text" id="itemtype" name="itemtype" class="form-group" />
            @Html.ValidationMessageFor(model => Model.itemtype,"",new {@class="text-danger"})
        </div>
        <br />
        <div class="form-group">
            <label for="itemsize">Item Size:</label>
            <input type="text" id="itemsize" name="itemsize" class="form-group" />
            @Html.ValidationMessageFor(model => Model.itemsize, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="form-group">
            <label for="itempiece">Item Piece:</label>
            <input type="text" id="itempiece" name="itempiece" class="form-group" />
            @Html.ValidationMessageFor(model => Model.itempiece, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="form-group">
            <label for="itemprice">Item Price:</label>
            <input type="text" id="itemprice" name="itemprice" class="form-group" />
            @Html.ValidationMessageFor(model => Model.itemprice, "", new { @class = "text-danger" })
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Buy</button>
        <button type="submit" name="goHome" value="true" class="btn btn-secondary">Go Home</button>    
    </form>
</div>
