@model MVCtry.Models.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div>
    <form action="@Url.Action("Edit","Home")" method="post">
        <div class="form-group">
            <label for="itemtype">Item Type:</label>
            <input type="text" id="itemtype" name="itemtype" class="form-group" value="@Model.itemtype" />
        </div>
        <br />
        <div class="form-group">
            <label for="itemsize">Item Size:</label>
            <input type="text" id="itemsize" name="itemsize" class="form-group" value="@Model.itemsize"/>
        </div>
        <br />
        <div class="form-group">
            <label for="itempiece">Item Piece:</label>
            <input type="text" id="itempiece" name="itempiece" class="form-group" value="@Model.itempiece"/>
        </div>
        <br />
        <div class="form-group">
            <label for="itemprice">Item Price:</label>
            <input type="text" id="itemprice" name="itemprice" class="form-group" value="@Model.itemprice"/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Save Edit</button>
        <button type="submit" name="goHome" value="true" class="btn btn-secondary">Go Home</button>
    </form>
</div>